doctype 5
html
  head
    title Creativa 77 :: Non-Working Days
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='/client.js')
  body
    block content
